<p>aggregate-component works!</p>


<table mdbTable>
    <thead>
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of countries,  let i = index">
        <th scope="row">{{i}}</th>
        <td>{{el.date}}</td>
        <td>{{el.country}}</td>
        <td>{{el.confirmed}}</td>
        <td>{{el.recovered}}</td>
        <td>{{el.deaths}}</td>

      </tr>
    </tbody>
  </table>


  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->